@mixin grid-layout ($columns: 24, $sitewidth: 960px, $margin: 20px) {

  $col-margin: percentage($margin/$sitewidth);

  // remove unit for css linting
  @if $margin == 0 {
    $col-margin: 0;
  }

  .cols#{$columns} {
    margin: 0;

    &:after {
      clear: both;
      content: " ";
      display: block;
      font-size: 0;
      visibility: hidden;
    }


    > .col {
      float: left;
      margin-left: $col-margin;
      min-height: 1px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.right-to-left > .col {
      float: right;
      margin-left: 0;
      margin-right: $col-margin;

      &:first-child {
        margin-right: 0;
      }
    }
  }

  $i: $columns;

  @while $i > 0 {
    $width: (100% / $columns) * $i;
    $margin: ($col-margin / $columns) * $i;

    .cols#{$columns} > .c#{$i}of#{$columns} {
      width: $width + $margin - $col-margin;
    }

    .cols#{$columns} > .col.offset#{$i}of#{$columns} {
      margin-left: $width + $margin + $col-margin;
    }

    .cols#{$columns} > .col.offset#{$i}of#{$columns}:first-child {
      margin-left: $width + $margin;
    }

    .cols#{$columns}.right-to-left > .col.offset#{$i}of#{$columns} {
      margin-left: 0;
      margin-right: $width + $margin + $col-margin;
    }

    .cols#{$columns}.right-to-left > .col.offset#{$i}of#{$columns}:first-child {
      margin-left: 0;
      margin-right: $width + $margin;
    }

    $i: $i - 1;
  }
}
